.container {
    padding: 60px 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 900;
}

.links {
    display: flex;
    flex-direction: row;
    list-style-type: none; 
}

.item {
    padding-left: 2em;
}