.container {
    // TODO: change top nav to sticky
    position: fixed;
    color: white;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    z-index: 1000;
}

.container:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.linkContainer {
    width: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none; 
    flex-direction: row;
}

.itemLink {
    margin: 0 30px;
    font-weight: 700;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 2px 15px;
}

.link {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    width: 200px;
}